* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 思源黑體, 微軟正黑體, 蘋方黑體, 華康麗黑體, Helvetica, Arial, sans-serif, serif;
}

body {
    background: #F5F5DC;
    position: relative;
}

.text-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 180px;
    padding-top: 20px;
    background: #F5F5DC;
}

.text-box {
    resize: none;
    width: 90%;
    margin: 0 5%;
    font-size: 24px;
    padding: 10px
}

.container {
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.keyboard-border {
    width: 100%;
    border: 1px dashed black;
    padding-top: 20px;
    border-right: none;
    border-left: none;
    position: relative;
    margin-top: 80px;
    max-width: 600px;
}

.title {
    background: #F5F5DC;
    margin: auto;
    position: absolute;
    width: 210px;
    text-align: center;
    top: -15px;
    right: calc(50% - 105px);
    font-size: 20px;
    font-weight: bold;
}

.keyboard-container {
    height: 240px;
    max-height: 240px;
    width: 100%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: #dddddd;
}

.row {
    width: 100%;
    margin: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:last-child {
    justify-content: space-between;
}

.btn-box {
    position: relative;
    width: 8.5%;
    margin: 0 0.8%;
    height: 38px;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background: white;
    box-shadow: 0 1px 0 #999999;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
}

.item * {
    pointer-events: none;
}

.item.hover {
    box-shadow: none;
    border: 1px solid #999999;
    color: white;
}

.btn-box.icon {
    width: 11%;
}

.btn-box.big {
    width: 13%;
}

.btn-box.space {
    width: 47%;
}

.btn-box.space-2 {
    width: 35%;
}

.btn-box.color-2 .item {
    background: #999999;
}

.btn-box.return {
    width: 22.5%
}

.btn-box.bottom {
    width: 18%;
}

.btn-box.bottom .item {
    background: transparent;
    box-shadow: none;
}

.connect-word {
    background: white;
    position: absolute;
    top: -45px;
    left: -5px;
    height: 42px;
    padding: 5px;
    display: none;
    border-radius: 5px;
    z-index: 1;
    border: 1px solid #999999;
}

.connect-word * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    width: 28.69px;
    height: 100%;
}

.top-word {
    background: white;
    position: absolute;
    top: -45px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    z-index: 1;
    aspect-ratio: 1;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #cccccc;
    font-size: 20px;
}

.item.hover + .top-word {
    display: flex;
}

.item.hover.show + .top-word {
    display: none;
}

.connect-word.show {
    display: flex;
}

.item.show {
    height: 39px;
    transform: translateY(-4px);
    z-index: 2;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    border: 1px solid #999999;
    border-top: none
}

.connect-word .active {
    background: rgba(0, 0, 200, 0.5);
    color: white;
}

.line {
    width: 100%;
    height: 2px;
    background: black;
    margin: 40px 0;
}

.form-inputs {
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-inputs label {
    margin: 5px;
}

.form-submit {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #dddddd;
    background: #0d6efd;
    color: white;
    cursor: pointer;
    transition: background .1s linear;
    margin-left: 240px; 
    font-size: 20px;
}

.form-submit:hover {
    background: #0a58ca;
}

.d-none {
    display: none;
}

.fs-12px *{
    font-size: 12px;
}

[key="2"] .btn-box.space-2 {
    width: 50%
}
.keyboard-border.android .keyboard-container{
    height: 280px;
    max-height: 280px;
}

@media screen and (min-width: 1110px) {
    .container {
        display: flex;
        margin: 0;
    }

    .keyboard-container {
        border-radius: 10px;
    }

    .keyboard-border {
        margin: 40px 10px;
        border: 1px dashed black;
        border-radius: 10px;
    }
}